---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar" role="complementary">
        {% include lefttree.html %}
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="meta">
              <span class="postdate">{{ page.date | date: "%Y年%m月%d日 %H:%M " }}</span>
              &nbsp; &nbsp; &nbsp; &nbsp; From <a target="_blank" href="{{site.url}}">{{ site.author }}</a>
            </div>
          </header>
          <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>

          <article class="post-content">
            {{ content }}
          </article>
          {% include gitalk.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.body.addEventListener('copy', function (e) {
    if (window.getSelection().toString() && window.getSelection().toString().length > 10) {
      setClipboardText(e);
    }
  });
  function setClipboardText(event) {
    var clipboardData = event.clipboardData || window.clipboardData;
    if (clipboardData) {
      event.preventDefault();
      var htmlData = window.getSelection().toString()
        + '<br /><br />著作权归作者所有。<br />'
        + '商业转载请联系作者获得授权，非商业转载请注明出处。<br />'
        + '作者：{{ site.author }}<br />'
        + '永久链接：' + window.location.href;
      var textData = window.getSelection().toString()
        + '\n\n著作权归作者所有。\n'
        + '商业转载请联系作者获得授权，非商业转载请注明出处。\n'
        + '作者：{{ site.author }}\n'
        + '永久链接：' + window.location.href;

      clipboardData.setData('text/html', htmlData);
      clipboardData.setData('text/plain', textData);
    }
  }
</script>